@import "../../../styles/main";

.terminal {
  min-height: 300px;
  max-width: 100%;
  background: #252a33;
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0 0 0 / 30%);
  font-size: 18px;
  font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier,
    monospace;
  border-radius: 4px;
  padding: 75px 45px 35px;
  position: relative;
  box-sizing: border-box;

  @include mediaQuery(">tabletPortrait") {
    padding: 75px 0 35px 45px;
  }

  @include mediaQuery("<=tabletPortrait") {
    padding: 45px 0 25px 15px;
  }
}

@include mediaQuery(">tabletPortrait") {
  .terminal::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d9515d;
    box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
  }
}

.terminal::after {
  content: "Console.log";
  position: absolute;
  color: #a2a2a2;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

.terminal > div {
  height: 300px;
  overflow-y: hidden;
  margin-left: -15px;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  counter-reset: list-number;
}

.terminal > div > * {
  counter-increment: list-number;
  display: flex;
}

.terminal > div > *::before {
  content: counter(list-number);
  color: #a2a2a2;
  padding-right: 12px;
}

.terminal > div > :last-child {
  scroll-snap-align: end;
}
