/* stylelint-disable no-descending-specificity */
@import "../../../styles/main";

p + .quote-card {
  margin-top: 30px;
  padding-top: 40px !important;
}

.quote-card + .quote-card {
  margin-bottom: 30px !important;
}

.quote-card {
  padding: 0 0 40px !important;
  width: calc(100% + 60px) !important;
  margin: 0 -30px !important;
  background-color: $blue_6;
  
  .figure-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(66 76 109 / 20%);
    border-radius: 6px 6px 0 0;
    overflow: hidden;

    .author-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 200px;
      overflow: hidden;
      
      img {
        width: 300px;
        display: block;
      }
    }

    .author-details {
      margin: 25px 15px 15px;

      p {
        margin: 0;
        color: $gray_2;
      }

      .author {
        margin-bottom: 5px;
      }

      .role {
        text-transform: uppercase;
        margin-bottom: 3px;
      }
    }

    .quote-body {
      position: relative;
      margin: 0 15px 30px;
      padding: 0 0 0 3px;
      border: none;
      line-height: 26px;
      order: 3;
      font-style: italic;

      p {
        margin-bottom: 0 !important;
      }

      :first-child {
        color: $gray_2;
      }

      :first-child::before {
        position: absolute;
        transform: translateX(-100%);
        content: "\201C";
      }

      :first-child::after {
        position: absolute;
        content: "\201D";
      }
    }
  }
}

@include mediaQuery(">=360px", "<tabletPortrait") {
  .quote-card {
    .figure-wrapper {
      .author-image-wrapper {
        height: 250px;

        img{
          width: 390px;
        }
      }
    }
  }
}

@include mediaQuery(">=tabletPortrait") {
  p + .quote-card {
    padding-top: 60px !important;
  }

  .quote-card + .quote-card {
    padding-bottom: 60px !important;
  }

  .quote-card {
    padding: 0 0 50px !important;
    width: calc(100% + 80px) !important;
    margin: 0 -40px !important;

    .figure-wrapper {
      display: grid;
      grid-template-columns: 160px auto;
      grid-template-rows: auto auto;

      .author-image-wrapper {
        grid-row-start: 1;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-row-end: 3;
        height: 100%;
      }

      .author-details {
        grid-column-start: 2;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-column-end: 3;
        grid-row-start: 2;
        margin: 25px 32px;
        align-self: end;
      }

      .quote-body {
        margin: 25px 32px 0;
        line-height: 1.47;
      }
    }
  }

  .quote-card.left-direction {
    .figure-wrapper {
      grid-template-columns: auto 160px;

      .author-image-wrapper {
        grid-column-start: 2;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-column-end: 3;
      }

      .author-details {
        grid-column-start: 1;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-column-end: 2;
        grid-row-start: 2;
        text-align: right;
      }
    }
  }
}

@include mediaQuery(">=tabletLandscape") {
  .quote-card {
    padding: 0 0 50px !important;
    width: calc(100% + 120px) !important;
    margin: 0 -60px !important;
  }
}

@include mediaQuery(">=1024px") {
  p + .quote-card {
    margin-top: 30px;
    padding-top: 80px !important;
  }

  .quote-card + .quote-card {
    margin-bottom: 30px;
    padding-bottom: 80px !important;
  }

  .quote-card {
    padding: 0 80px 50px !important;

    .figure-wrapper {
      width: 100%;
      grid-template-columns: 160px auto;
      margin: 0 auto;
      border-radius: 6px 0 0 6px;

      .author-image-wrapper {
        img{
          width: 270px
        }
      }

      .quote-body {
        padding: 0;
        margin-top: 20px;
      }

      .quote-body::before {
        transform: translateX(-100%);
      }
    }
  }

  .quote-card.left-direction {
    .figure-wrapper {
      grid-template-columns: auto 160px;
      border-radius: 0 6px 6px 0;
    }
  }
}

@include mediaQuery(">=desktop") {
  .quote-card {
    width: calc(100% + 100px);
    margin: 0 -60px;

    .figure-wrapper {
      width: calc(100% - 170px);
      grid-template-columns: 170px auto;

      .author-image-wrapper {
        img{
          width: 300px
        }
      }
    }
  }

  .quote-card.left-direction {
    .figure-wrapper {
      grid-template-columns: auto 170px;
    }
  }
}

@include mediaQuery(">=1440px") {
  .quote-card {
    .figure-wrapper {
      width: calc(100% - 100px);
    }
  }
}
