@import "./_box";
@import "./_colors.scss";
@import "./_fonts.scss";
@import "./_media.scss";
@import "./_mixins.scss";

* {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  body {
    padding: 0 !important;
    font-family: "Roboto", sans-serif;
    min-height: 100vh !important;
    background-color: #fff;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Rubik, sans-serif;
  }
}
