@import '../../../styles/main';

.card-wrapper {
  padding: 140px 80px 0;
  margin: 100px 0;

  .card {
    position: relative;
    max-width: calc(100% - 70px);
    margin: 0 auto;
    padding: 80px 70px 50px;
    background-color: #fff;
    border-radius: 25px;

    hr {
      width: 250px;
      height: 8px;
      margin: 0 auto 30px;
      border-radius: 5px;
    }

    .card-image {
      position: absolute;
      width: 320px;
      top: -30%;
      left: calc(50% - 160px);
    }

    .card-title {
      margin-bottom: 15px;
      text-align: center;
      color: $gray_2;

      span {
        color: #85a32a;
      }
    }

    .card-main {
      display: flex;

      .author-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50px;
        min-width: 50px;
        border-radius: 5px;
        overflow: hidden;

        img {
          display: block;
          width: 80px;
        }
      }

      .comment {
        padding: 0 20px 20px 15px;

        .author {
          margin-top: 0;
          margin-bottom: 12px;
        }

        .content {
          p {
            margin-bottom: 5px !important;
          }
        }
      }
    }
  }

  .logo{
    display: block;
    height: 100px;
    width: auto;
    max-width: 100%;
    padding: 20px 0;
    margin: 0 0 0 auto;
    filter: drop-shadow(1px 1px 2px $gray_2);
  }
}
@include mediaQuery('<=tabletLandscape') {
  .card-wrapper {
    width: calc(100% - 80px);
    margin: 0 -40px;

    .card {
      padding-left: 50px;
      padding-right: 50px;
      
      .card-image {
        top: -25%;
      }
    }

    .logo{
      height: 80px;
      padding: 30px 0;
    }
  }
}

@include mediaQuery('<=tabletPortrait') {
  .card-wrapper {
    width: calc(100% + 40px);
    margin: 0 -30px;
    padding: 150px 10px 0 !important;

    .card {
      padding-left: 10px;
      padding-right: 10px;
      max-width: calc(100% - 20px);
    }

    .logo{
      padding: 35px 0;
    }
  }
}

@include mediaQuery('<=425px') {
  .card-wrapper {
    .card {
      .card-image {
        top: -22%;
      }
    }

    .logo{
      height: 70px;
      padding: 40px 0;
      margin: 0 auto;
    }
  }
}

@include mediaQuery('<=360px') {
  .card-wrapper {
    width: calc(100% + 20px);
    margin: 0 -20px;

    .card {
      padding-left: 10px;
      padding-right: 10px;
      max-width: calc(100% - 20px);
    }
  }
}
