@import "../../../../styles/main";

.column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin: 15px;
  width: 100%;

  &.text {
    color: $gray_11;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include mediaQuery("<=tabletPortrait") {
    margin: 0;

    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }
}
