/* stylelint-disable import-notation */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import "../../styles/main";

.section {
  margin: auto;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: calc(50% - 800px + 108px);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  padding-left: calc(50% - 800px + 108px);
  overflow: hidden;
  width: 100%;

  &.blog {
    padding-right: calc(50% - 550px);
    padding-left: calc(50% - 550px);
  }

  @include mediaQuery(">=desktop", "<viewportLimit") {
    padding: 30px 100px;
  }

  @include mediaQuery(">=tabletLandscape", "<desktop") {
    padding: 30px 60px;

    &.blog {
      padding: 30px 60px;
    }
  }

  @include mediaQuery(">=tabletPortrait", "<tabletLandscape") {
    padding: 20px 40px;

    &.blog {
      padding: 20px 40px;
    }
  }

  @include mediaQuery(">=360px", "<tabletPortrait") {
    padding: 20px 30px;

    &.blog {
      padding: 20px 30px;
    }
  }

  @include mediaQuery("<360px") {
    padding: 20px;

    &.blog {
      padding: 20px;
    }
  }
}
