@import '../../../styles/main';

.library-title-wrapper {
  border-bottom: 1.5px solid $gray_4;
  padding-bottom: 16px;
  padding-top: 74px;
  margin-bottom: 28px;
  
  .library-logo {
    display: grid;
    align-items: center;
    margin: 0 auto;
    width: 70px;
    height: 74px;
  }
  
  .library-title {
    h2 {
      border: none !important;
      padding-bottom: 0 !important;
      margin-top: 16px !important;
      padding-top: 0;
      align-self: center;
      justify-self: start;
      text-align: center;
      line-height: 1;
    }
  }
  
  .library-alt-title {
    grid-row-start: 2;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-row-end: 3;
    grid-column-start: 1;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-column-end: 3;
    margin: 14px auto 0;
    color: $gray_2;
    text-align: center;
    width: 80%;
  }
}
@include mediaQuery('>=360px', '<=tabletPortrait') {
  .library-title-wrapper {
    .library-alt-title {
      width: 60%;
    }
  }
}
@include mediaQuery('>=tabletPortrait') {
  .library-title-wrapper {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 42px 42px;
    padding-bottom: 10px;

    .library-title > h2 {
      margin-top: 0 !important;
    }

    .library-title > h2,
    .library-alt-title {
      width: 100%;
      text-align: left;
      margin-left: 26px;
    }

    .library-logo {
      width: 100%;
      height: 100%;
      grid-column-start: 1;
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      grid-column-end: 2;
      grid-row-start: 1;
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      grid-row-end: 3;
    }

    .library-alt-title {
      grid-column-start: 2;
    }
  }
}
@include mediaQuery('>=1024px') {
  .library-title-wrapper {
    grid-template-columns: 100px auto;
    grid-template-rows: 57px 57px;

    .library-title {
      margin-top: 10px;
    }
  }
}
